
.nav_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.negocios_container{ 
width: 100%;
display: flex;
flex-direction: column;
justify-items: center;
}

@media (min-width: 1024px) {
  .negocios_container {
    width: 100%;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    place-content: center;
    gap: 100px;
  }
}
